<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Criar Nova Notícia</h3>
    <button class="btn btn-secondary btn-sm" (click)="cancel()">Voltar</button>
  </div>

  <form (ngSubmit)="create()">
    <div class="mb-3">
      <label class="form-label">Chapéu</label>
      <input class="form-control" [(ngModel)]="news.hat" name="hat" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Título</label>
      <input class="form-control" [(ngModel)]="news.title" name="title" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Texto</label>
      <textarea class="form-control" [(ngModel)]="news.text" name="text" required></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Autor</label>
      <input class="form-control" [(ngModel)]="news.author" name="author" required>
    </div>
    <div class="mb-3">
        <label for="imageUpload" class="form-label">Imagem</label>
        <input
            type="file"
            class="form-control"
            id="imageUpload"
            (change)="onFileSelected($event)"
            accept="image/*"
        />
    </div>

<div *ngIf="imageUrl" class="mb-3">
  <img [src]="imageUrl" alt="Imagem selecionada" class="img-thumbnail" style="max-height: 200px;">
</div>

<div class="mb-3">
  <button class="btn btn-secondary" (click)="uploadImage()" [disabled]="!selectedFile">
    Enviar Imagem
  </button>
</div>

    <div class="mb-3">
      <label class="form-label">Link da notícia</label>
      <input type="text" class="form-control" [(ngModel)]="news.link" name="link">
    </div>
    <div class="mb-3">
      <label class="form-label">Status</label>
      <select class="form-select" [(ngModel)]="news.status" name="status">
        <option [value]="1">Ativo</option>
        <option [value]="2">Inativo</option>
        <option [value]="3">Rascunho</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
